/* style.scss */
/* line 14, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

/* line 23, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 28, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
}

/* line 42, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
img {
  max-width: 100%;
}

/* line 47, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta {
  padding: 40px;
  text-align: center;
}
/* line 51, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta h2 {
  margin: 15px 0 5px 0;
}
/* line 55, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 14px;
}
/* line 60, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
/* line 66, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul li {
  display: inline;
  line-height: 3em;
}
/* line 70, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #999999;
}

/* line 82, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main header {
  padding: 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
}
/* line 87, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main header p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 94, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article {
  max-width: 640px;
  padding: 40px;
}
/* line 101, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text {
  line-height: 1.375em;
}
/* line 103, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text a {
  text-decoration: underline;
}
/* line 107, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: "PT Mono", monospace;
  background: #eeeeee;
}
/* line 116, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 2px;
  color: #000000;
  border-left: 3px solid #0e94ec;
  font-size: 14px;
  font-family: "PT Mono", monospace;
  background: #eeeeee;
  line-height: 1.125em;
  overflow-x: auto;
}
/* line 128, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
/* line 136, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.gist {
  line-height: .875em;
}
/* line 140, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_meta {
  font-size: 12px;
  color: #999999;
}
/* line 146, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer {
  border-top: #eeeeee 1px solid;
  padding: 40px;
}
/* line 150, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 18px;
}
/* line 157, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
/* line 161, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}
/* line 171, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main div#ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}

@media screen and (min-width: 1024px) {
  /* line 180, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #eeeeee 1px solid;
  }
  /* line 188, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside h2 {
    margin: 10px 0 0 0;
  }
  /* line 192, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside div#user_meta {
    max-width: 192px;
    text-align: right;
  }
  /* line 197, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside div#user_meta ul li {
    display: block;
  }

  /* line 204, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  /* line 212, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main article {
    max-width: 640px;
  }
  /* line 216, /home/ciges/Webs/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main header {
    border-top: 0;
  }
}
/* Estilos personalizados que "sobreescribirán" a los estilos definidos originalmente en el tema svbhack */
/* -- MIXINS -- */
/* ------------ */
/* -- VARIABLES -- */
/* --------------- */
/* line 21 */
img[alt="logo"] {
  max-width: 140px;
  border: solid lightgray 1px;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

/* line 25 */
img[alt="avatar"] {
  max-width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* line 30 */
blockquote {
  margin-bottom: 2rem;
}

/* line 34 */
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 3rem;
  margin-bottom: -0.9em;
  margin-left: -0.6em;
}

/* Algunos elementos de contenido no se muestran en pantallas pequeñas */
/* line 43 */
.movilno {
  display: none;
}

/* line 47 */
aside {
  background-color: #99c3e9;
}
/* line 48 */
aside div#user_meta {
  padding: 30px;
}

/* line 55 */
main article {
  max-width: 95%;
  padding: 15px 25px;
}
/* line 59 */
main article img {
  margin: 2em auto 1em auto;
  max-width: 60%;
  display: block;
  border: solid lightgray 1px;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
/* line 66 */
main article .tituloimagen {
  font-style: italic;
  text-align: center;
}
/* line 73 */
main div#ending_message {
  padding-top: 2em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* line 80 */
  aside {
    width: 18%;
    background-image: url("/theme/images/costa.jpg");
    background-position: 77% -65%;
    background-repeat: no-repeat;
  }
  /* line 83 */
  aside div#user_meta {
    max-width: none;
  }

  /* line 90 */
  main {
    width: 82%;
    left: 18%;
  }
  /* line 93 */
  main article {
    max-width: 90%;
    padding: 15px 40px;
  }
  /* line 98 */
  main img.right {
    margin: 0 1em 1em 1em;
    float: right;
  }

  /* line 105 */
  .movilno {
    display: inline;
  }

  /* line 109 */
  blockquote {
    width: 30rem;
  }

  /* line 113 */
  blockquote:after {
    content: "\201D";
    font-size: 3rem;
    display: block;
    margin-top: -0.1em;
    margin-left: 28rem;
  }
}
/* --------------------------------------------------------------- */
/* FUENTES */
/* line 127 */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* line 133 */
h1 {
  font-size: 1.5rem;
}

/* line 137 */
h2 {
  font-size: 1.25rem;
}

/* line 141 */
h3 {
  font-size: 1.1rem;
}

/* line 145 */
h1, h2, h3, #title, #subtitle, #description {
  font-family: "Merriweather", serif;
}

/* line 149 */
#subtitle {
  font-weight: normal;
  font-style: italic;
}

/* line 154 */
#description {
  line-height: 1.5em;
  font-style: italic;
}

/* line 160 */
main article {
  text-align: justify;
}
/* line 162 */
main article div.article_text {
  line-height: 1.5em;
}
/* line 165 */
main article div.article_meta {
  font-size: 0.8rem;
}
/* line 169 */
main article a.readmore {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #eeeeee;
  padding: 5px 15px 5px 15px;
  font-size: smaller;
  color: #4d4d4d;
  margin-left: 1rem;
  font-style: italic;
}
/* line 178 */
main article a.readmore:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 184 */
main header {
  padding: 0.25rem 40px;
}
/* line 187 */
main header p {
  font-weight: normal;
  font-size: 0.9rem;
}
/* line 193 */
main div#ending_message {
  font-size: 0.8rem;
}

/* line 200 */
aside div#user_meta p, aside div#user_meta ul {
  font-size: 0.8rem;
}
/* line 204 */
aside div#user_meta ul li a {
  border: 1px solid #eeeeee;
  color: #eeeeee;
}
/* line 208 */
aside div#user_meta ul li a:hover {
  border-width: 2px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1024px) {
  /* line 219 */
  main article {
    text-align: left;
  }
}
