@import 'style';

/* Estilos personalizados que "sobreescribirán" a los estilos definidos originalmente en el tema svbhack */

/* -- MIXINS -- */
@mixin box-shadow($top: 0, $left: 0, $blur: 10px, $color: #ccc) {
  border: solid lightgray 1px;
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

/* ------------ */

/* -- VARIABLES -- */
$ancho-cita: 30;
$ancho-barralateral: 15; // Porcentaje
/* --------------- */


img[alt="logo"] {
  max-width: 140px;
  @include box-shadow;
}
img[alt="avatar"] {
  max-width: 120px;
  @include border-radius(50%);
}

blockquote {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 3rem;
    margin-bottom: -0.9em;
    margin-left: -0.6em;
}

/* Algunos elementos de contenido no se muestran en pantallas pequeñas */
.movilno {
    display: none;
}

aside {
    div#user_meta {
        padding: 30px;
    }
    background-color: #99c3e9;
}

main {
    article {
        max-width: 95%;
        padding: 15px 25px;

        img {
          margin: 2em auto 1em auto;
          max-width: 60%;
          display: block;
          @include box-shadow;
        }

        .tituloimagen {
            font-style: italic;
            text-align: center;
        }

        // Vídeos de Youtube
        iframe[src *= youtube] {
            display: block;
            margin: 2rem auto;
            max-width: 60%;
            @include box-shadow;
        }

        iframe[src *= youtube] + .tituloimagen {
            margin-top: -1rem;
        }

    }

    div#ending_message {
        padding-top: 2em;
        text-align: center;
    }

}

@media screen and (min-width: 1024px) {
    aside {
        width: $ancho-barralateral * 1%;

        div#user_meta {
            max-width: none;
        }
        background-image: url("/theme/images/costa.jpg");
        background-position: 77% -65%;
        background-repeat: no-repeat;
    }
    main {
        width: (100 - $ancho-barralateral) * 1%;
        left: $ancho-barralateral * 1%;
        article {
            max-width: 90%;
            padding: 15px 40px;
        }

        img.right {
            margin: 0 1em 1em 1em;
            float: right;
        }

    }

    .movilno {
        display: inline;
    }

    blockquote {
        width: #{$ancho-cita}rem;
    }

    blockquote:after {
        content: "\201D";
        font-size: 3rem;
        display: block;
        margin-top: -0.1em;
        margin-left: #{$ancho-cita - 2}rem;
    }

}


/* --------------------------------------------------------------- */
/* FUENTES */

body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

h1, h2, h3, #title, #subtitle, #description {
    font-family: "Merriweather", serif;
}

#subtitle {
    font-weight: normal;
    font-style: italic;
}

#description {
    line-height: 1.5em;
    font-style: italic;
}

header {
    p {
      // Menú de navegación superior
      a {
        @include border-radius(10px);
        border: 2px solid #99c3e9;
        padding: 5px 15px 5px 15px;
        color: #4d4d4d;
        margin-right: 1rem;
      }
      a:hover {
        background-color: rgba(153,195,233, 0.2);
      }
    }
}
main {
    article {
        text-align: justify;
        div.article_text {
            line-height: 1.5em;
        }
        div.article_meta {
            font-size: 0.8rem;
        }

        a.readmore {
          @include border-radius(10px);
          border: 1px solid #99c3e9;
          padding: 5px 15px 5px 15px;
          font-size: smaller;
          color: #4d4d4d;
          margin-left: 1rem;
          font-style: italic;
        }
        a.readmore:hover {
          background-color: rgba(153,195,233, 0.1);
        }

        .warning {
            display: block;
            margin: 1.5rem auto;
            span {
                @include border-radius(7px);
                border: 2px solid #ff0000;
                padding: 5px 1rem;
                color: #ff0000;
                font-style: italic;
                background-color: rgba(255, 0, 0, 0.02);
                .fa {
                  margin-right: 0.5rem;
                  margin-left: -0.5rem;
                }
            }
        }
    }

    header {
        padding: 0.25rem 40px;

        p {
            font-weight: normal;
            font-size: 0.9rem;
        }
    }

    div#ending_message {
        font-size: 0.8rem;
    }
}

aside {
    div#user_meta {
        p, ul {
            font-size: 0.8rem;
        }

        ul li a {
          border: 1px solid #eeeeee;
          color: #eeeeee;
        }
        ul li a:hover {
          border-width: 2px;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

@media screen and (min-width: 1024px) {

    main {
        article {
            text-align: left;

            .warning {
                span {
                  padding: 5px 3.5rem 5px 4rem;
                  font-size: larger;
                }
            }
        }
     }

}
