@charset "UTF-8";
/* style.scss */
/* line 14, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

/* line 23, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 28, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
}

/* line 42, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
img {
  max-width: 100%;
}

/* line 47, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta {
  padding: 40px;
  text-align: center;
}
/* line 51, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta h2 {
  margin: 15px 0 5px 0;
}
/* line 55, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 14px;
}
/* line 60, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
/* line 66, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul li {
  display: inline;
  line-height: 3em;
}
/* line 70, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
aside div#user_meta ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #999999;
}

/* line 82, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main header {
  padding: 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
}
/* line 87, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main header p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 94, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article {
  max-width: 640px;
  padding: 40px;
}
/* line 101, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text {
  line-height: 1.375em;
}
/* line 103, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text a {
  text-decoration: underline;
}
/* line 107, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: "PT Mono", monospace;
  background: #eeeeee;
}
/* line 116, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 2px;
  color: #000000;
  border-left: 3px solid #0e94ec;
  font-size: 14px;
  font-family: "PT Mono", monospace;
  background: #eeeeee;
  line-height: 1.125em;
  overflow-x: auto;
}
/* line 128, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
/* line 136, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.gist {
  line-height: .875em;
}
/* line 140, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main article div.article_meta {
  font-size: 12px;
  color: #999999;
}
/* line 146, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer {
  border-top: #eeeeee 1px solid;
  padding: 40px;
}
/* line 150, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 18px;
}
/* line 157, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
/* line 161, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}
/* line 171, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
main div#ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}

@media screen and (min-width: 1024px) {
  /* line 180, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #eeeeee 1px solid;
  }
  /* line 188, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside h2 {
    margin: 10px 0 0 0;
  }
  /* line 192, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside div#user_meta {
    max-width: 192px;
    text-align: right;
  }
  /* line 197, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  aside div#user_meta ul li {
    display: block;
  }

  /* line 204, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  /* line 212, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main article {
    max-width: 640px;
  }
  /* line 216, /var/www/elladogeekde.ciges.net/themes/svbhack_custom/static/css/style.scss */
  main header {
    border-top: 0;
  }
}
/* Estilos personalizados que "sobreescribirán" a los estilos definidos originalmente en el tema svbhack */
/* -- MIXINS -- */
/* ------------ */
/* -- VARIABLES -- */
/* --------------- */
/* line 31 */
img[alt="logo"] {
  max-width: 140px;
  border: solid lightgray 1px;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

/* line 35 */
img[alt="avatar"] {
  max-width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* line 40 */
blockquote {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

/* line 45 */
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 3rem;
  margin-bottom: -0.9em;
  margin-left: -0.6em;
}

/* Algunos elementos de contenido no se muestran en pantallas pequeñas */
/* line 54 */
.movilno {
  display: none;
}

/* line 58 */
aside {
  background-color: #99c3e9;
}
/* line 59 */
aside div#user_meta {
  padding: 5px;
}

/* line 67 */
main header a {
  float: left;
}
/* line 70 */
main header a.feed {
  float: right;
  margin-right: -1em;
  font-style: italic;
}
/* line 75 */
main header p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 79 */
main header p:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* line 87 */
main article {
  max-width: 95%;
  padding: 15px 25px;
}
/* line 91 */
main article img,
main article iframe[src*=youtube] {
  max-width: 100%;
}
/* line 96 */
main article img {
  margin: 2em auto 1em auto;
  display: block;
  border: solid lightgray 1px;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
/* line 102 */
main article .tituloimagen {
  font-style: italic;
  text-align: center;
}
/* line 108 */
main article iframe[src*=youtube] {
  display: block;
  margin: 2rem auto;
  border: solid lightgray 1px;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
/* line 114 */
main article iframe[src*=youtube] + .tituloimagen {
  margin-top: -1rem;
}
/* line 120 */
main div#ending_message {
  padding-top: 2em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* line 128 */
  aside {
    width: 17%;
    background-image: url("/theme/images/costa.jpg");
    background-position: 77% -65%;
    background-repeat: no-repeat;
  }
  /* line 131 */
  aside div#user_meta {
    padding: 30px;
    max-width: none;
  }

  /* line 139 */
  main {
    width: 83%;
    left: 17%;
  }
  /* line 142 */
  main article {
    max-width: 90%;
    padding: 15px 40px;
  }
  /* line 146 */
  main article img,
  main article iframe[src*=youtube] {
    max-width: 60%;
  }
  /* line 153 */
  main img.right {
    margin: 0 1em 1em 1em;
    float: right;
  }

  /* line 160 */
  .movilno {
    display: inline;
  }

  /* line 164 */
  blockquote {
    width: 30rem;
  }

  /* line 168 */
  blockquote:after {
    content: "\201D";
    font-size: 3rem;
    display: block;
    margin-top: -0.1em;
    margin-left: 28rem;
  }
}
/* --------------------------------------------------------------- */
/* FUENTES */
/* line 182 */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* line 188 */
h1 {
  font-size: 1.5rem;
}

/* line 192 */
h2 {
  font-size: 1.25rem;
}

/* line 196 */
h3 {
  font-size: 1.1rem;
}

/* line 200 */
h1, h2, h3, #title, #subtitle, #description {
  font-family: "Merriweather", serif;
}

/* line 204 */
#subtitle {
  font-weight: normal;
  font-style: italic;
}

/* line 209 */
#description {
  line-height: 1.5em;
  font-style: italic;
}

/* line 217 */
header p a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #99c3e9;
  padding: 5px 15px 5px 15px;
  color: #4d4d4d;
  margin-right: 1rem;
}
/* line 224 */
header p a:hover {
  background-color: rgba(153, 195, 233, 0.2);
}

/* line 230 */
main article {
  text-align: justify;
}
/* line 232 */
main article div.article_text {
  line-height: 1.5em;
}
/* line 235 */
main article div.article_meta {
  font-size: 0.8rem;
}
/* line 239 */
main article a.readmore {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #99c3e9;
  padding: 5px 15px 5px 15px;
  font-size: smaller;
  color: #4d4d4d;
  margin-left: 1rem;
  font-style: italic;
}
/* line 248 */
main article a.readmore:hover {
  background-color: rgba(153, 195, 233, 0.1);
}
/* line 252 */
main article h3 {
  font-weight: normal;
  font-style: italic;
  margin-bottom: -0.6em;
}
/* line 256 */
main article h3 + ol,
main article h3 + ul {
  font-size: 90%;
  margin-bottom: 2em;
}
/* line 259 */
main article h3 + ol li,
main article h3 + ul li {
  padding-left: 0.5em;
}
/* line 268 */
main header {
  padding: 0.25rem 40px;
}
/* line 271 */
main header p {
  font-weight: normal;
  font-size: 0.9rem;
}
/* line 277 */
main div#ending_message {
  font-size: 0.8rem;
}

/* line 284 */
aside div#user_meta p, aside div#user_meta ul {
  font-size: 0.8rem;
}
/* line 288 */
aside div#user_meta ul li a {
  border: 1px solid #eeeeee;
  color: #eeeeee;
}
/* line 292 */
aside div#user_meta ul li a:hover {
  border-width: 2px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1024px) {
  /* line 303 */
  main article {
    text-align: left;
  }
  /* line 307 */
  main article .warning span {
    padding: 5px 3.5rem 5px 4rem;
    font-size: larger;
  }
}
/* --------------------------------------------------------------- */
/* MENSAJES */
/* line 323 */
main article .info,
main article .success,
main article .warning,
main article .error {
  margin: 10px auto;
  display: block;
  max-width: 90%;
  padding: 5px 1rem;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 2px solid;
  text-align: center;
}
/* line 336 */
main article .info {
  color: #00529B;
  border-color: #00529B;
  background-color: rgba(0, 0, 255, 0);
}
/* line 342 */
main article .success {
  color: #4F8A10;
  border-color: #4F8A10;
  background-color: rgba(0, 255, 0, 0.07);
}
/* line 348 */
main article .warning {
  color: #9F6000;
  border-color: #9F6000;
  background-color: rgba(255, 255, 0, 0.2);
}
/* line 354 */
main article .error {
  color: #ff0000;
  border-color: #ff0000;
  background-color: rgba(255, 0, 0, 0.07);
}
/* line 360 */
main article .info:before,
main article .success:before,
main article .warning:before,
main article .error:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 120%;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 382 */
main article .info:before {
  content: "\f05a";
}
/* line 386 */
main article .success:before {
  content: '\f00c';
}
/* line 390 */
main article .warning:before {
  content: '\f071';
}
/* line 394 */
main article .error:before {
  content: '\f057';
}

@media screen and (min-width: 1024px) {
  /* line 405 */
  main article .info,
  main article .success,
  main article .warning,
  main article .error {
    max-width: 50%;
  }
}
