{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
  <div class="article_title">
  {% if article.status != "Draft" %}
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  {% else %}
    <h1 style="font-style: italic;">{{ article.title }}</h1>
  {% endif %}
  </div>
  {% include "modules/article_meta.html" %}
  <div class="article_text">
    {% if article.status == "Draft" %}
    <p class="warning">Este artículo es un borrador</p>
    {% endif %}

    {{ article.content }}
  </div>

  {% if CONEXION_INTERNET and article.status != "Draft" %}
  {% include "modules/addthis.html" %}
  {% endif %}

  {% if CONEXION_INTERNET and article.status != "Draft" %}
  {% if DISQUS_SITENAME %}
  <div id="article_comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
  </div>
  {% endif %}
  {% endif %}

</article>
{% endblock %}
