<script type="text/javascript">
var addthis_share = {
     // ... other options
     url_transforms : {
          shorten: {
               twitter: 'bitly'
          }
     },
     shorteners : {
          bitly: { }
     },
     passthrough : {
		     twitter: {
              text: "{{ article.title }}",
			        via: "Ciges"
		          }
     }
}
var addthis_config = {
       data_track_clickback: false
}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cd85cc46f9822b"></script>
<div class="addthis_native_toolbox"></div>
